@page
@model PizzaMama.Pages.Admin.Pizzas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Créer</h1>

<h4>Pizza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pizza.Nom" class="control-label"></label>
                <input asp-for="Pizza.Nom" class="form-control" />
                <span asp-validation-for="Pizza.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pizza.Prix" class="control-label"></label>
                <input asp-for="Pizza.Prix" class="form-control" />
                <span asp-validation-for="Pizza.Prix" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pizza.Vegetarien" /> @Html.DisplayNameFor(model => model.Pizza.Vegetarien)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Pizza.Ingredient" class="control-label"></label>
                <input asp-for="Pizza.Ingredient" class="form-control" />
                <span asp-validation-for="Pizza.Ingredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
